MONDAY_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYyNTU4ODUxNSwiYWFpIjoxMSwidWlkIjoxMDAyODQyOTAsImlhZCI6IjIwMjYtMDItMjVUMDY6MTE6MzYuNTE4WiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjMzOTYwMzUwLCJyZ24iOiJhcHNlMiJ9.qOt9cHzt8ZW-fW_us7oGUKG4dAfNpgYeafSouFvsXzk
BOARD_1_ID=5026840119
BOARD_2_ID=5026840164